<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Welcome</title>
      <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
   </head>
   <body>
      <h1>Welcome</h1>
      <h2 th:utext="${message}">..!..</h2>
       
      <!--  
       
         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}
          
         -->
          <fieldset>
  <legend> Utiliser l'API </legend>
      <a th:href="@{/myjson}">Commencer une opération</a> 
      <div></div>
      <a th:href="@{/swagger-ui.html}">Fonctionnement/DOC de l'API</a> 
      </fieldset>
       <footer> ® 2018 - ENSG - Projet Perso 1 - Harling Tristan.</footer>
   </body>
    
</html>
