<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resultat Opérations</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/master/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet/master/leaflet.js"></script>
</head>
<body>
	<h1>Resultats Opération API</h1>
	<p th:text="'content: ' + ${myjson.id}" />
    <p th:text="'content: ' + ${myjson.json_as_txt}" />
    <div id="map" style="width: 100%; height: 500px;position: relative;"></div>

    <a href="/myjson">Submit another message</a>
    <script th:inline="javascript">
		/*<![CDATA[*/
		console.log(/*[[${myjson.json_as_txt}]]*/);
		var geojson1=JSON.parse(/*[[${myjson.json_as_txt}]]*/);
var map = L.map('map').setView([48.84, 2.652],14);
    L.tileLayer('https://a.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png',{
        attribution: 'Tiles &copy; Esri, OpenStreetMap & Ign &mdash; Source: Ign, Esri, DeLorme, NAVTEQ, USGS, Intermap'
        }).addTo(map);
	L.geoJSON(geojson1).addTo(map).bindPopup(/*[[${myjson.id}]]*/);
	console.log(/*[[${myjson.json_as_txt}]]*/);
	/*]]>*/
</script>
<footer> ® 2018 - ENSG - Projet Perso 1 - Harling Tristan.</footer>
</body>
</html>
