body{
	background="wallpaper.jpg";
}
h1 {
text-align:center;
font-size:40px;
color:darkgoldenrod;

}
#allmap{
	padding: 50px;
	padding-right: 120px;
	padding-left: 120px;
}
h2 {
    color:#FF0000;
}
#menu{
	display: flex;
	justify-content: center;
}
table {
    border-collapse: collapse;
}
 
table th, table td {
    padding: 5px;
}
#buttons{
	margin-right: 10px;
}
