<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Error</title>
      <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
   </head>
   <body>
      <h1>Vous n'etes pas à la bonne Adresse</h1>
      <h2 th:utext="${message}">..!..</h2>
       
      <!--  
       
         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}
          
         
          
      <a th:href="@{/personList}">Person List</a>  -->
       <footer> ® 2018 - ENSG - Projet Perso 1 - Harling Tristan.</footer>
   </body>
    
</html>
