<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>API : JSON Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/master/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet/master/leaflet.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> <!--inclusion Jquery -->
</head>
<body>

  <h1>Choix du JSON et de son opération !</h1>
  <div id=menu>
  <!-- Formulaire du choix du parcours-->
  </div>
  <form action="#" th:action="@{/myjson}" th:object="${myjson}" method="post">
    <fieldset>
		<legend> Selectionner une géometrie : </legend>
		<div id="allmap">
			<div id="map" style="width: 100%; height: 500px;position: relative;"></div>
			<p>Choisir directement mon JSON: <input id="mon_choix" type="text" style="width:100%; font-size:10px;" th:field="*{json_as_txt}" /></p> </div>
	</fieldset>
	<div style="margin: 15px;"></div>
	<fieldset>
		<legend> Selectionner une opération : </legend>
		<div id="buttons">
			<input type="radio" th:field="*{id}" value="Double_Perimetre" />Double Périmetre
			<input type="radio" th:field="*{id}" value="Enveloppe_Convexe" />Enveloppe Convexe
			<input type="radio" th:field="*{id}" value="Centroide" />Centroide 
		</div>
	</fieldset>    
    <p> <input type="submit" value="Submit" /><input type="reset" value="Reset" /></p>
  </form>
  <script src="all_json.js"></script>
  <script src="request.js"></script>
<footer> ® 2018 - ENSG - Projet Perso 1 - Harling Tristan.</footer>
</body>
</html>
